<div class="jumbotron">
  <img src="<%= asset_path( 'circle.jpeg' ) %>" />
</div>
<br>

<div id="picz" class="transitions-enabled">
  <% @pictures.each do |picture| %>
    <div class="box">
      <a href="http://localhost:3000/pictures/<%= picture.id %>"><img src="<%= picture.pic_img_url %>"></a>
    </div>
  <% end %>
</div>
