<div class="jumbotron">
  <img src="<%= asset_path( 'circle.jpeg' ) %>" />
</div>

<article class="index-1 col-md-10 col-md-offset-1">
  <div class="row">
    <% @pictures.each do |picture| %>
        <section class="teaser col-md-4">
          <h5>Images</h5>
          <%= cl_image_tag(picture.pic_img_url) %>
        </section>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= will_paginate @pictures %>
  </div>
</article>
