<div class="jumbotron">
  <img src="<%= asset_path( 'circle.jpeg' ) %>">
</div>

<div class="container-fluid text-center">
  <h2>PolaSnap</h2>
  <h4>Our awesome features</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>Secure Images</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid text-center">
<div class="card-group">
  <div class="row">
    <div class="card card-inverse col-md-4 img-center">
      <img class="card-img" src="<%= asset_path( 'default-placeholder.png' ) %>" alt="Card image" width="400" height="300">
      <div class="card-img-overlay">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card card-inverse col-md-4">
      <img class="card-img" src="<%= asset_path( 'default-placeholder.png' ) %>" alt="Card image" width="400" height="300">
      <div class="card-img-overlay">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card card-inverse col-md-4">
      <img class="card-img" src="<%= asset_path( 'default-placeholder.png' ) %>" alt="Card image" width="400" height="300">
      <div class="card-img-overlay">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>
