<div class="jumbotron">
  <%= cl_image_tag("polasnap_image_igicit.png")%>
</div>

<div class="container-fluid text-center">
  <h2>PolaSnap</h2>
  <h4>Our awesome features</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-cloud-upload logo-small"></span>
      <h4>UPLOAD</h4>
      <p>Upload your favorite images</br>to our fast severs.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Share the pictures you love</br>with the world!</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-picture logo-small"></span>
      <h4>SAFE</h4>
      <p>Sit back, relax and enjoy</br>as you consume.</p>
    </div>
    </div>
</div>
<br>
<br>
<hr>
<div class="container-fluid text-center">
<div class="card-group">
  <div class="row">
    <div class="card card-inverse col-md-4">
      <img class="card-img frontpageimg" src="<%= ("http://res.cloudinary.com/photo-app/image/upload/v1463684071/photo-1463489995677-c1981fbd7049_k8edrq.jpg")  %>" alt="Card image" width="400" height="300">
      <div class="card-img-overlay">
        <h4 class="card-title">Access your images on any device</h4>
        <p class="card-text">Where ever you go Polasnap is here to</br>deliver your images on any device.</br>android / apple / microsoft</p>
      </div>
    </div>

    <div class="card card-inverse col-md-4">
      <img class="card-img frontpageimg" src="<%= ("http://res.cloudinary.com/photo-app/image/upload/v1463684071/photo-1463541555616-ad5d33ef6339_uutp3s.jpg") %>" alt="Card image" width="400" height="300">
      <div class="card-img-overlay">
        <h4 class="card-title">A home for memories</h4>
        <p class="card-text">Loved ones are important and</br>so are you pictures of them,</br>We keep them safe.</p>
      </div>
    </div>

    <div class="card card-inverse col-md-4">
      <img class="card-img frontpageimg" src="<%= asset_path( "http://res.cloudinary.com/photo-app/image/upload/v1463684070/photo-1463595373836-6e0b0a8ee322_vcuicq.jpg" ) %>" alt="Card image" width="400" height="300">
      <div class="card-img-overlay">
        <h4 class="card-title">Fast searching</h4>
        <p class="card-text">Find your favorite hash tags</br> in seconds with our super</br> fast search engine.</p>
      </div>
    </div>
  </div>
</div>
</div>
