<h1>Picture#index</h1>

<%= link_to "Upload Image", new_picture_path, class:"btn btn-default" %>



<article class="index-1 col-md-10 col-md-offset-1">
  <div class="row">
    <% @pictures.each do |picture| %>
        <section class="teaser col-md-4">
          <h5>Images</h5>
          <%= cl_image_tag(picture.pic_img_url) %>
        </section>
    <% end %>
  </div>
</article>
