<h1>Picture#index</h1>

<%= link_to "Upload Image", new_picture_path, class:"btn btn-default" %>


<div id="picz" class="transitions-enabled">
  <% @pictures.each do |picture| %>
    <div class="box">
      <a href="http://localhost:3000/pictures/<%= picture.id %>"><img src="<%= picture.pic_img_url %>"></a>
    </div>
  <% end %>
</div>
