<div class="container">
  <div class="text-center">
    <div id="upload-img">
      <%= button_to new_picture_path, method: :get, class: "btn btn-large btn-trans" do %>
        <span class="glyphicon glyphicon-camera">
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <div id="picz" class="transitions-enabled">
    <% @pictures.each do |picture| %>
    <div class="box">
      <%= link_to cl_image_tag(picture.pic_img_url), "/pictures/#{picture.id}" %>
    </div>
    <% end %>
  </div>
</div>


<div class="next-page text-center">
  <%= will_paginate(@pictures) %>
</div>
