<h1>Pictures#show</h1>
<%= link_to "News Feed", pictures_path, class: "btn btn-default" %>
<%= link_to "Home", root_path, class: "btn btn-default" %>
<br>
<br>



<article class="index-1 col-md-10 col-md-offset-1">
  <div class="row">
    <section class="teaserShow col-md-4">
      <h5>Images</h5>
      <div><img src="<%= @picture.pic_img_url %>" class="img-responsive"></div>
    </section>
  </div>
</article>
