<br>
<br>
<h1 class="teamheader">MEET THE TEAM</h1>
<br>
<br>
<div class="container text-center col-md-11 col-md-offset-1">
 <p>
   This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
 </p>

</div>
<div class="container text-center col-md-12">
    <div class="card-deck-wrapper">
      <div class="card-deck row">


        <div class="card col-md-3">
          <img class="card-img-top aboutpic" src="https://avatars1.githubusercontent.com/u/17155244?v=3&s=460" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Phill</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <br>
           <p><a href="https://www.linkedin.com/in/phillbertcheng">Linkedin  </a><a href="https://github.com/PJC-1">|  gitHub</a></p>
          </div>
        </div>

        <div class="card col-md-3">
          <img class="card-img-top aboutpic" src="https://avatars0.githubusercontent.com/u/11340703?v=3&s=460" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Marcelo</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <br>
           <p><a href="https://www.linkedin.com/in/marceloleon">Linkedin  </a><a href="https://github.com/Mleon195">|  gitHub</a></p>
          </div>
        </div>

        <div class="card col-md-3 ">
          <img class="card-img-top aboutpic" src="https://avatars0.githubusercontent.com/u/17344073?v=3&s=460" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Adam</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <br>
            <p><a href="https://www.linkedin.com/in/adamrobertreid">Linkedin  </a><a href="https://github.com/adamrobertreid">|  gitHub</a></p>
          </div>
        </div>
        
        <div class="card col-md-3">
          <img class="card-img-top aboutpic" src="https://avatars1.githubusercontent.com/u/11309303?v=3&s=460" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Herman</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
             <br>
            <p><a href="https://www.linkedin.com/in/hermchan">Linkedin  </a><a href="https://github.com/hermchan">|  gitHub</a></p>
          </div>
        </div>

      </div>
    </div>
</div>
