// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teamheader{
  text-align: center;
}

.group-picture {
  padding-bottom: 100px;
  border-radius: 5px;
}
