.wrapper{
   border: 1px solid #fafafa;
   height: 200px;
   overflow-x: hidden;
   overflow-y: scroll;
   width: auto;
   -webkit-scrollbar {
    height: 1em;
}
}
.comments .selection{
  width:150px;
  border:1px solid #ccc
}
