.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
}
.jumbotron img {
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
}

#navbar {
  margin-top: 5px;
}

.navbar {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 0px;
}
.navbar a {
  color: black;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  padding: 18px;
}
.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  margin-top: 30px;
  max-width: 100%;
}

.teaserShow img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%
}

.glyphicon {
  font-size: 17px;
}
.alert {
  padding: 0;
  margin-bottom:0;
}
.layout, .layout.layout-1{
  background-color: #fafafa;
}

.img-display .img-1 .a {
  display: block;
  position: relative;
  margin: 0;
  padding: 0px;
  vertical-align: baseline;
}
img {
margin-right: 107px;
margin-bottom: 40px;
}

.bio-info {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  margin-left: 50px;
  display: flex;
}

.profile-info {
  padding-top: 55px;
}
