

.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
}
.jumbotron img {
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
}

.navbar {
  margin-top: 5px;
  /* top | right | bottom | left */
  padding: 0 1em 0 1em;
  border-bottom: 0px solid #dbdbdb;
  margin-bottom: 0px;
}

.navbar a {
  color: black;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  padding: 18px;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  margin-top: 30px;
  max-width: 100%;
}

.teaserShow img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
}

.glyphicon {
  font-size: 17px;
}
.alert {
  padding: 0;
  margin-bottom:0;
}
.layout, .layout.layout-1{
  background-color: #ffffff;
}

.img-display .img-1 .a {
  display: block;
  position: relative;
  margin: 0;
  padding: 0px;
  vertical-align: baseline;
}
img {
margin-right: 0px;
margin-bottom: 0px;
}

.bio-info {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  margin-left: 50px;
  display: flex;
}

.profile-info {
  padding-top: 55px;
}

.logo-small {
    color: black;
    font-size: 50px;
}
.items .profile {
   display: inline-block;
   position: relative;
   background: #000;
   width: 260px;
}


.aboutpic{
  border-radius: 50%;
  width: 300px;
  height: auto;
  box-shadow: 2px 2px 2px #888888;
  -webkit-box-shadow: 2px 2px 2px #888888;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: center;
  list-style: none;
}

footer ul li {
  float: center;
  margin-left: 15px;
}
