// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#picz {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.picture-container {
  .img-responsive {
    width: 700px;
    height: 750px;
    margin: 0 auto;
  }
}

#upload-img .btn {
  margin-right: 25px;
  margin-top: 30px;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#upload-img .glyphicon {
  font-size: 50px;
}

.profile-name-follow {
  display: inline;
  margin: 20px;
}

.profile-name {
  display: inline;
}

.profile-img {
  margin: 20px auto;
  height: 152px;
  width: 0px;
}
