<!DOCTYPE html>
<html>
<head>
  <title>PhotoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <nav class="navbar">
      <a class="navbar-brand" href="/">flickA-Gram</a>
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item nav-link active">Login</li>
        <li class="nav-item nav-link active">Sign Up</li>
      </ul>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
